@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.section {
   max-width: 2000px;
 }
html {
   scroll-behavior: smooth;
}

.bgGradientNavbarResponsive {
   background: rgb(62, 229, 242);
   background: linear-gradient(
      153deg,
      rgba(62, 229, 242, 1) 0%,
      rgba(242, 231, 62, 1) 100%
   );
}
.bgGradientGallery {
   background: rgb(100, 38, 171);
   background: linear-gradient(
      180deg,
      rgba(100, 38, 171, 1) 0%,
      rgba(112, 104, 221, 1) 71%
   );
}

.z-back {
   z-index: -10 !important;
}
.galleryColorGradient {
   background: rgb(74, 62, 242);
   background: linear-gradient(
      117deg,
      rgba(74, 62, 242, 1) 0%,
      rgba(242, 237, 62, 1) 65%,
      rgba(242, 62, 62, 1) 87%
   );
}
.wrapper {
   display: inline-block;
   position: relative;
   cursor: pointer;
}

.circle {
   width: 30px;
   height: 30px;
   position: relative;
   transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 1s;
}

.line {
   position: absolute;
   height: 5px;
   width: 100%;
   background-color: #7276e8;
   border-radius: 8px;
   transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.top {
   top: 18%;
}

.mid {
   top: 48%;
}

.bot {
   top: 78%;
}

.circle.close {
   transform: rotate(-360deg);
}

.icon.close .top {
   transform: rotate(45deg);
   top: 48%;
}

.icon.close .mid,
.icon.close .bot {
   transform: rotate(-45deg);
   top: 48%;
}
