@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bgGradientNavbarResponsive {
   background: rgb(100, 38, 171);
   background: linear-gradient(
      90deg,
      rgba(100, 38, 171, 1) 0%,
      rgba(112, 104, 221, 1) 71%
   );
}
.bgGradientGallery {
   background: rgb(100, 38, 171);
   background: linear-gradient(
      180deg,
      rgba(100, 38, 171, 1) 0%,
      rgba(112, 104, 221, 1) 71%
   );
}

.z-back {
   z-index: -10 !important;
}
.galleryColorGradient {
   background: rgb(74, 62, 242);
   background: linear-gradient(
      117deg,
      rgba(74, 62, 242, 1) 0%,
      rgba(242, 237, 62, 1) 65%,
      rgba(242, 62, 62, 1) 87%
   );
}
